
body {
font-family: 'Varela Round', sans-serif;
font-size:.68em;
background:#F0F0F7;
margin:0;
padding:0;
}

p {
line-height:1.2em;
margin:0;
padding:8px 0;
}

h1 {
font-family: 'Varela Round', sans-serif;
letter-spacing:.1em;
}

h2 {
font-size:120%;
margin:0;
padding:16px 0 4px;
}

h3 {
font-size:100%;
margin:0;
padding:8px 0 4px;
}

h4 {
font-size:100%;
font-style:italic;
margin:0;
padding:6px 0 2px;
}

h5 {
font-size:100%;
font-weight:400;
font-style:italic;
margin:0;
padding:4px 0 2px;
}

img {
border:0;
}

a {
outline:none;
}

ul {
margin:6px 0 0 12px;
padding:0;
}

ul li {
list-style-type:square;
margin:0 0 8px;
padding:0;
}

ol {
margin:6px 0 0 18px;
padding:0;
}

ol li {
margin:0 0 8px;
padding:0;
}

#main {
width:1080px;
margin-left:auto;
margin-right:auto;
}

#cloud_section {
	width: 100%;
	min-height: 460px;
	background-color: #0289c3;
	color: white;
	padding-left: 6px;
}

#cloud_logo {
	padding: 50px;
	float:left;
	text-align:center;
}

#cloud_logo img {
	border-radius:20px;
}

#cloud_logo h2 {
	font-size: 180%;
}

#who_what_how {
	text-align: left;
	margin-left: 550px;
	font-size: 150%;
	line-height:500%;
	padding-top:45px;
}

#who_what_how a {
	text-decoration: none;
	color:#FFFFFF;
}

#header a {
	text-decoration: none;
	color: #000;
}

#header {
	margin-top:10px;
	vertical-align: middle;
	font-size: 200%;
}

#header span {
	margin: 85px;
}

#menu.index_page {
	float: none;
	padding-top: 0;
	clear: both;
}

#menu.index_page li {
	padding-left: 130px;
	padding-right: 75px;
}

#menu.index_page a {
	color: #808080;
}

#links, #footer {
clear:both;
margin-left:auto;
margin-right:auto;
height:26px;
font-size:94%;
text-transform:uppercase;
padding:10px 21px 0 19px;
}

#links {
text-align:right;
}

#footer {
text-align:center;
}

#links a, #footer a {
text-decoration:none;
}

#links a:hover,#footer a:hover {
text-decoration:underline;
}

#top {
margin-top:30px;
background:#0289c3;
height:100px;	
}

#logo {
margin-left:auto;
margin-right:auto;
width:264px;
height:100px;
text-align:left;
background:url(jcloudslogo.jpg) no-repeat;
float:left;
}

#menu {
padding-top:40px;
padding-right:20px;
float:right;
}

#menu li {
list-style-type: none;
float: left;
height: 37px;
padding-right : 38px;
}

#menu a {
font-size:150%;	
color: #FFF;
text-decoration: none;
}

#content {
margin-left:auto;
margin-right:auto;
width:1060px;
height:auto;
overflow:hidden;
padding:0;
}

#column2 {
width:100%;
}

#column2 h1 {
border-bottom:1px solid;
font-size:150%;
text-transform:uppercase;
font-weight:400;
margin:12px 0 12px;
padding:6px 0 4px;
}

.sidebaritem a,#column2 a,.sidebaritem a:hover,#column2 a:hover {
text-decoration:none;
border-bottom:1px dashed;
padding:0 0 2px;
}

.sidebaritem a:hover,#column2 a:hover {
border-bottom:1px solid;
}

form {
margin-top:0;
}

div.row {
clear:both;
width:448px;
}

div.row span.formlabel {
float:left;
width:150px;
text-align:left;
}

div.row span.forminput {
float:right;
text-align:right;
}

div.spacer {
clear:both;
width:80px;
}

input,textarea {
width:259px;
font-family:'Varela Round', sans-serif;
border:1px solid;
font-size:100%;
color:#165872;
border-color:#165872;
margin:2px;
}

.submit {
font-family:'Varela Round', sans-serif;
border:1px solid;
width:70px;
height:22px;
cursor:pointer;
font-size:100%;
}

pre {
font-family:'Droid Sans Mono', sans-serif;
overflow:auto;
overflow-y:visible;
width:100%;
}

code {
font-family:'Droid Sans Mono', sans-serif;
}

#links,#footer {
color:#165872;
}

#links a,#footer a,#links a:hover,#footer a:hover {
background:transparent;
color:#165872;
}

h1,#column2 h1 {
background:transparent;
color:#165872;
border-color:#E6EFF8;
}

#content,#column2 a,#column2 a:hover {
background:transparent;
color:#677185;
}

#menu ul,.sbilinks ul {
margin:0 auto;
}

#column2 p a,#column2 p a:hover {
padding:0;
}

#menu li a:hover, #column1 li a:hover {
color:#F79C88;
}

h1.news {
float:left;
}

h2.news {
float:right;
}

span.news p{
clear:both;
}
}